<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="test" class="com.denisrebrof.sringboottest.messaging.ChatMessage">
        <constructor-arg name="messageType" value="CHAT"/>
        <constructor-arg name="content" value="Bean content test"/>
        <constructor-arg name="sender" value="1"/>
        <constructor-arg name="time" value="Bean time string content"/>
    </bean>
</beans>